@font-face {
    src: url(../fonts/IRANSANSWEB.TTF);
    font-family: IRANSANS;
    font-weight: normal;
}

@font-face {
    src: url(../fonts/IRANSANSWEB_BOLD.TTF);
    font-family: IRANSANSBOLD;
    font-weight: bold;
}

@font-face {
    src: url(../fonts/IRANSANSWEB_LIGHT.TTF);
    font-family: IRANSANSLIGHT;
    font-weight: lighter;
}


body {
    height: 100vh;
    background-image: linear-gradient(70deg, #3b41c5 0%, #a981bb 49%, #ffc8a9 100%);
    background-repeat: repeat;
    animation: moving 30s linear infinite;
    background-size: 600% 600%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main img {
    width: 35%;
}

main .title {
    font-family: IRANSANS;
    color: white;
    margin: 40px;
    font-size: 220%;
    text-align: center;
    
}

.stats {
    display: flex;
    flex-direction: row;
    direction: rtl;
    justify-content: center;
    text-align: center;

}

.stats span {
    color: white;
    font-size: 110%;
    font-family: IRANSANSBOLD;
}

.stats .statstxt {
    color: white;
    font-size: 110%;
    font-family: IRANSANSBOLD;

}

footer {
    position: fixed;
    bottom:2%;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: row-reverse;
}

.cards .card {
    margin: 20px;
    border-radius: 6px;
    padding: 10px;
    direction: rtl;
    display: flex;
    justify-content: center;
}

.subtitle {
    text-align: center;
}

#first {
    box-shadow: 0px 6px 0px hsl(48, 100%, 67%);
}

#second {
    box-shadow: 0px 6px 0px hsl(348, 100%, 61%);
}

#third {
    box-shadow: 0px 6px 0px hsl(171, 100%, 41%);
}


.cards .card-header-title {
    font-family: IRANSANSBOLD;
    text-align: center;
}


footer span {
    color: white;
    direction: rtl;
    font-family: IRANSANS;
    font-size: 80%;
}

footer .heart {
    animation: pump 1s linear infinite;
}

footer a {
    color: yellow;
}

@media only screen and (max-width: 600px) {
    main img {
        margin-top: 9%;
    }
    
    body{
        height: auto;
    }

    footer {
        position: relative;
        margin-top: 7%;
        margin-bottom: 7%;
    }

    .cards {
        flex-direction: column;
    }
}




@keyframes moving {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}

@keyframes pump {
    0% {font-size: 15px;}
    50% {font-size: 18px;}
    100% {font-size: 15px;}
}

